/** {
  border: red 1px dotted;
}*/

#outer {
  width: 90%;
	max-width: 1100px;
	max-height: 800px;
	margin: 50px auto;
}

.rem {
  border: none;
  margin: 7px 5px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.rem:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}
.main3 {
  width: 960px;
  margin: 0 auto;
}
h1 {
  margin: 10px auto;
  text-align: center;
  /*border: red 1px dotted;*/
}
.inputs {
  /*border: red 1px dotted;*/
  display:flex;
  justify-content:center;
  align-items:center;
}
#toDoList {
  display:flex;
  justify-content:center;
  align-items:center;
}
#ListOfDone {
  display:flex;
  justify-content:center;
  align-items:center;
}
.btn {
  margin: 10px 10px;
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}
.btn:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.remFromAdd {
  border: none;
  margin: 7px 5px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.remFromAdd:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}
.addBtn {
  border: none;
  margin: 7px 5px;
  text-align: center;
  border-radius: 8px;
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}
.addBtn:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}
